.ibsn-display-template{
width: 1080px!important;
border:2px solid silver;
font-family: Arial, Helvetica, sans-serif;
}
.ibsn-display-template .ibsn-courrier-metadata{
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 31%;
    overflow: hidden;
}
.ibsn-display-template .ibsn-file-previewer{
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width:68%;
    overflow: hidden;
}
.ibsn-field-value{
    display: block;
    margin-top: 0.3em;
    font-weight: 600;
    color:#606060;
}
.ibsn-observations{
    font-weight: 400;
}
.ibsn-display-template .ibsn-file-previewer img.ibsn-courrier-file{
    display: inline-block;
    width:100%;
    height: auto;
}
.ibsn-display-template .ibsn-file-previewer iframe.ibsn-courrier-file{
    width:100%;
    height: auto;
    min-height: 960px;
}
.ibsn-form-group{
    margin: 0.5em;
    padding: 0.5em 0.3em;
    border:1px solid #E8E8E8;
    border-radius: 3px;
    height: auto;
    min-height: 40px; max-height: 200px;
    overflow: auto;
}
.ibsn-system-data{
    overflow: hidden!important;
}
.ibsn-field-actionbuttons{
    margin-top:1.5em;
    padding-top: 1.2em;
}

.ibsn-right{
    position: relative;
    float: right;
    cursor: pointer;
}
.ibsn-right:hover{ text-decoration: none;}

.ibsn-task-courrier-template{
    width: 1080px!important;
    font-family: Arial, Helvetica, sans-serif;
    }

.ibsn-task-courrier-template .ibsn-task-courrier-template-pane{
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 49%;
    overflow: hidden;
}
.ibsn-task-courrier-template .ibsn-task-outcome-editform{
    text-align: right;
}

.ibsn-task-courrier-template-pane.ibsn-task-file-previewer img{
    width:100%;
} 
.ibsn-task-courrier-template-pane.ibsn-task-file-previewer iframe{
    width:100%;
    height: auto;
    min-height: 660px;
} 


/** Nous copions les propriétés de ms-cui-disabled **/
.ibsn-cui-disabled *{
color:#5b626c !important;
cursor:default !important;
}
.ibsn-cui-disabled .ms-cui-img-container,.ibsn-cui-disabled .ms-cui-img-cont-float,.ibsn-cui-disabled .ms-cui-jewel-left,.ibsn-cui-disabled .ms-cui-jewel-middle,.ibsn-cui-disabled .ms-cui-jewel-right{
background-color:#fff !important;
opacity:0.3;
}
.ms-cui-needIEFilter .ibsn-cui-disabled .ms-cui-img-container,.ms-cui-needIEFilter .ibsn-cui-disabled .ms-cui-img-cont-float,.ms-cui-needIEFilter .ibsn-cui-disabled .ms-cui-jewel-left,
.ms-cui-needIEFilter .ibsn-cui-disabled .ms-cui-jewel-middle,.ms-cui-needIEFilter .ibsn-cui-disabled .ms-cui-jewel-right{
filter:alpha(opacity=30);-ms-filter:"alpha(opacity=30)";
}
.ibsn-cui-disabled .ms-cui-jewel-middle .ms-cui-jewel-label{
color:#fff !important;
}