body{
    padding: 0;margin:0;
    background: #eee;
}
#headerBanner{
    overflow: hidden;
    background: #2997E7;
    color: #fff;
}
#headerBanner h1{
    text-align: center;
    font-size: 1.5em;
}
#templateBody{
    width: 60%;
    min-width: 600px;
    margin:0 auto 2em;
}
#headerDetails figure, #headerDetails div{
    display: inline-block;
    vertical-align: top;
}
#mailBody{
    background: #fff;
    padding: 1em 0.7em;
}
#templateFooter p{
    text-align: center;
}